
///////////////////////////////////////
//
// shadow-right
//
// gives a box a right side shadow
//

@mixin shadow-right($color: #ccc) {
	
	$shadow-right-size: 2px 0px 6px 1px;

	-moz-box-shadow:    $shadow-right-size $color;
	-webkit-box-shadow: $shadow-right-size $color;
	box-shadow:         $shadow-right-size $color;
}

///////////////////////////////////////
//
// shadow-bottom
//
// gives a box a bottom shadow
//

@mixin shadow-bottom($color: #ccc) {
	
	$shadow-bottom-size: 0px 6px 6px -3px;

	-moz-box-shadow:    $shadow-bottom-size $color;
	-webkit-box-shadow: $shadow-bottom-size $color;
	box-shadow:         $shadow-bottom-size $color;
}

///////////////////////////////////////
//
// box-shadow
//
// gives a box a shadow
//

@mixin box-shadow($color: #ccc) {
	
	$shadow-size: 6px 6px 6px -3px;

	-moz-box-shadow:    $shadow-size $color;
	-webkit-box-shadow: $shadow-size $color;
	box-shadow:         $shadow-size $color;
}

///////////////////////////////////////
//
// small-box-shadow
//
// gives a box a smaller shadow
// good for small boxes
//

@mixin small-box-shadow($color: #ccc) {
	
	$shadow-size: 3px 3px 3px -3px;

	-moz-box-shadow:    $shadow-size $color;
	-webkit-box-shadow: $shadow-size $color;
	box-shadow:         $shadow-size $color;
}

///////////////////////////////////////
//
// small-shadow-bottom
//
// gives a box a bottom small shadow
//

@mixin small-shadow-bottom($color: #ccc) {
	
	$shadow-bottom-size: 0px 3px 3px -3px;

	-moz-box-shadow:    $shadow-bottom-size $color;
	-webkit-box-shadow: $shadow-bottom-size $color;
	box-shadow:         $shadow-bottom-size $color;
}


///////////////////////////////////////
//
// no-shadow
//
// removes all box shadow effects
// eg. for printing
//

@mixin no-shadow() {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}


///////////////////////////////////////
//
// anchor-styles
//
// setting all anchor styles
//

@mixin anchor-styles($color, $hovercolor, $text-decoration: none) {

	color: $color;
	text-decoration: $text-decoration;
	
	transition: color, background-color 0.2s;
	
	-moz-transition-property: color, background-color;
	-moz-transition-duration: 0.2s;
	-webkit-transition-property: color, background-color;
	-webkit-transition-duration: 0.2s;
	-o-transition-property: color, background-color;
	-o-transition-duration: 0.2s;
	
	&:hover {
		transition: color, background-color 0.2s;
		-moz-transition-property: color, background-color;
		-moz-transition-duration: 0.2s;
		-webkit-transition-property: color, background-color;
		-webkit-transition-duration: 0.2s;
		-o-transition-property: color, background-color;
		-o-transition-duration: 0.2s;
		
		color:$hovercolor;
	}
	
	
}

///////////////////////////////////////
//
// bwhoverimage
//
// black and white picture, color on hover
//

@mixin bwhoverimage() {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%); /* For Webkit browsers */
	filter: gray; /* For IE 6 - 9 */
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease; /* Fade to color for Chrome and Safari */
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0\' /></filter></svg>#grayscale"); 
	/*
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); */
	
	
	
	&:hover {
		filter: grayscale(0%);
		-webkit-filter: grayscale(0%);
		-webkit-transition: all 0.3s ease; /* Fade to color for Chrome and Safari */
		transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'1\' /></filter></svg>#grayscale");						
	}	
}


///////////////////////////////////////
//
// anchor-colors
//
// just setting anchor colors
//

@mixin anchor-colors($color, $hovercolor) {

	color: $color;
	
	&:hover { 
		color:$hovercolor;
	}
	
	
}

///////////////////////////////////////
//
// important-anchor-colors
//
// just setting anchor colors
//

@mixin important-anchor-colors($color, $hovercolor) {

	color: $color !important;
	
	&:hover { 
		color:$hovercolor !important;
	}
	
	
}


///////////////////////////////////////
//
// hover-shadow
//
// set a shadow on hover
//

@mixin hover-shadow($color: rgba(0,89,182,0.6)) {
		transition: all 0.2s ease 0s;
		-moz-transition: all 0.2s ease 0s;
		-webkit-transition: all 0.2s ease 0s;
		-o-transition: all 0.2s ease 0s;
		
		&:hover {

			box-shadow: 0px 0px 4px $color, 0px 0px 1px $color, 0px 1px 2px rgba(0, 0, 0, 0.5);
			
			transition: all 0.2s ease 0s;
			-moz-transition: all 0.2s ease 0s;
			-webkit-transition: all 0.2s ease 0s;
			-o-transition: all 0.2s ease 0s;
			}
}



///////////////////////////////////////
//
// abs-pos
//
// sets absolute position
//
@mixin abs-pos ($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}


///////////////////////////////////////
//
// container
//
// for container-like elements,
// positioned in the middle
//
@mixin container ($min, $max) {
	min-width: $min;
	max-width: $max;
	width: $max; // Hack für Safari Browser ab V6.1 gehts wieder
	margin: 0 auto;
}


///////////////////////////////////////
//
// transition
//
// gives all transion props
//

@mixin transition($props) {
		transition: $props;
		-moz-transition: $props;
		-webkit-transition: $props;
		-o-transition: $props;
}



///////////////////////////////////////
//
// placeholder-color
//
// sets color of placeholder inside input
//

@mixin placeholder-color($color) {
	
	&::-webkit-input-placeholder { /* WebKit browsers */
    	color: $color;
	}
	
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color: $color;
	   opacity:  1;
	}
	
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color: $color;
	   opacity:  1;
	}
	
	&:-ms-input-placeholder { /* Internet Explorer 10+ */
	   color: $color;
	}
	
}


