@charset "utf-8";

@import "copyright";
@import "azoommixins";
@import "websitemixins";
@import "variables";


body.notloggedin {
	.meteo {

		.meteo-header {
			.ui-btn {
				display: none;
			}
		}
	}
}

@media (min-width: 70em) {
	body.notloggedin {
		.meteo {

			.maincontainer {
				min-height: 70em;

				.meteo-content {
					display: table-cell;
				}

				.sidecontainer {
					display: none;
				}
			}
		}
	}
}
